#getInTouch{
    font-size: 1.5em;
    font-weight: 650;
}

.contactform {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: min(100%, 500px);
}

.contactform input, .contactform textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.nameRow {
    gap: 16px;
}

.nameRow > div {
    flex: 1 1 0;
}

.contactform button {
    background-color: #8750F7;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.contactform button:hover {
    background-color: #6a39c2;
}

.contactform label{
    font-weight: 600;
}

@media (max-width: 768px) {
    .contactform {
        width: 100%;
        max-width: 100%;
        font-size: 1rem;
    }

    .nameRow {
        flex-direction: column;
        gap: 10px;
    }

    .lastNameField {
        justify-content: start !important;
    }

    #getInTouch{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}
