#degree{
    color:rgb(135 80 247);
}

.timeline {
    position: relative;
    max-width: 900px;
    margin: auto;
}

.timelineitem {
    position: relative;
    width: 50%;
    padding: 20px;
    
}

.timelineitem.left {
    left: 0;
    text-align: right;
}

.timelineitem.right {
    left: 50%;
    text-align: left;
}

.timelinecontent {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
   
}

.timeline::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 50%;
    width: 3.5px;
    height: 100%;
    background: #b0acb8;
    transform: translateX(-50%);
}

.timelineicon{
    position: absolute;
    top: 15px;
    right: -11px;
    width: 21px;
    height: 21px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:17px;
    font-weight: bold;
}

.timelineitem.right .timelineicon{
    right: auto;
    left: -10px;
}

@media (max-width: 768px) {
    
    .timeline::before {
        left: 65px; /* Move the line to the left */
        transform: none;
    }

    .timelineitem {
        width:80%; /* Make items full-width */
        padding-left: 90px; /* Add space for the timeline */
    }

    .timelineitem.left,
    .timelineitem.right {
        left: 0; /* Align all items to the left */
        text-align: left;
    }

    .timelineicon {
        left: 3.3em; /* Position icon on the timeline */
        right: auto;
    }
    .timelineitem.right .timelineicon{
        right: auto;
        left: 56px;
    }
    .timelineitem {
        font-size: 1.2em;
    }
    .timelineitem h5{
        font-size: 1.6em;
    }
}