.mainContainer{
    padding: 0.5em;      
} 

.myName h1{
    color:rgb(135 80 247);
    font-size: 2.3em;
}

.links{
    gap:2em;
}

.links button{
    border:none;
    background-color: white;
    color: black;
    font-size: 1.2em;
    font-weight: 400;
}

.hireMe{
    border:1px solid rgb(135 80 247);
    border-radius: 15px;
    width:auto;
    height:2.3em;
    background-color: rgb(135 80 247);
    font-size: 1.2em;
}

.hireMe {
    /* Existing styles */
    position: relative;
  }
  
  .hireMeIcon {
    transition: transform 0.3s ease-in-out;
  }
  
  .hireMe:hover .hireMeIcon {
    transform: rotate(360deg);
  }

@media (max-width: 768px) {
    .mainContainer{
        width: 120vb;  
        padding: 1.5em;      
    } 
    .myName h1{
        font-size: 2.5em;
    } 
    .links{
        gap:1em;
    }
    .links a{
        font-size: 1.7em;
        font-weight: 100;
    }
    .hireMe{
        font-size: 1.7em;
    }
    
}