section {
  scroll-margin-top: 110px;
}

@media (max-width: 768px) {
  section {
    overflow-x: hidden;
    scroll-margin-top: 84px;
  }

  .my-5 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }

  .py-5 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
}
